*{
    padding: 0px;
    margin: 0px;
}

.glyphicon span {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-right: 100px;
}

.glyphicon span:nth-last-child(2) {
    margin-right: 0px ;
}


.navbar .navbar-collapse {
  text-align: center !important;
  border-color: transparent !important;
}

.navbar-toggle {
    float: none !important;
    width: 65%;
    text-align: center !important;
    background-color: #444 !important;
    opacity: 0.7;
}

.navbar-brand {
    float: none;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-align: center !important;
}

.marginBottom {
    margin-bottom: 100px;
}

.navbar-header {
    text-align: center;
}

ul li a {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #fff !important;
    text-align: left;
    opacity: .7;
   
}

.navbar-nav ul {
    
}

ul li a:hover {
    color: #999  !important;
}   
.logo .img-responsive {
    display: inline !important;
}

.logo {
    width: 200px;
}

.glyphicon {
    color: #c3917d !important;
}



.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-inverse{
  background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}


.indexBG {
background: transparent url("../images/indexBG.jpeg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 995px;
    width: 100%;
       

}
.indexBG2 {
 height: 1080px;
    background-image:url("../images/indexBG2.jpeg");
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

}

.navbar-brand img {
    width: 220px;
}

.index {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

 h1,h3 {
    color: blue !important;
}

.slogan {
    font-family: 'Frijole', cursive;
    font-size: 75px;
    color: #fff;
}



@media screen and (max-width: 765px){
    .navbar-toggle {
    display: inline !important;
        }
        
        .navbar-brand {
            padding-right: 30px;
        }
        
        ul{
           padding-left: 56px !important;
        }
}

@media screen and (max-width: 365px){
    
    .slogan {
        font-size: 55px;
    }
}

