*{
    padding: 0px;
    margin: 0px;
}

.glyphicon span {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-right: 100px;
}

.glyphicon span:nth-last-child(2) {
    margin-right: 0px ;
}



.navbar .navbar-collapse {
  text-align: center !important;
  border-color: transparent !important;
}

.navbar-toggle {
    float: none !important;
    width: 65%;
    text-align: center !important;
    background-color: #444 !important;
    opacity: 0.7;
}

.navbar-brand {
    float: none;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-align: center !important;
}

.marginBottom {
    margin-bottom: 100px;
}

.navbar-header {
    text-align: center;
}

ul li a {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #fff !important;
    text-align: left;
    opacity: .7;
   
}

.navbar-nav ul {
    
}

ul li a:hover {
    color: #999  !important;
}   
.logo .img-responsive {
    display: inline !important;
}

.logo {
    width: 200px;
}

.glyphicon {
    color: #c3917d !important;
}



.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-inverse{
  background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}


.indexBG {
background: transparent url("../images/indexBGn.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 995px;
    width: 100%;
       

}
.indexBG2 {
 height: 1080px;
    background-image:url("../images/indexBG2.jpeg");
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

}

.indexBG3 {
 height: 1080px;
    background-image:url("../images/indexBG3.jpg");
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.indexBG4 {
 height: 1080px;
    background-image:url("../images/image2.jpeg");
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.images {
    float: left;
    width: 30%;
    margin-top: 5%;
    margin-left: 3%;
}

.images img {
    padding-bottom: 10%;
    padding-right: 4%;
   
    width: 100%;
    max-width: 100%;
    height: auto;
}


.navbar-brand img {
    width: 220px;
}

.index {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

 h1,h3 {
    color: blue !important;
}

.slogan {
    font-family: 'Frijole', cursive;
    font-size: 100px;
    color: #fff;
    padding-top: 5%;
}

.breadishe {
    font-family: 'Kaushan Script', cursive;
    color: orange;
    font-size: 67px;
}

.the {
    line-height: 22px;
    text-align: justify;
    margin-top: 10%;
}

.the p {
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
    color: #fff;
}

.the h4 {
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-size: 34px;
}

.about {
    width: 60%;
    font-family: 'Kaushan Script', cursive;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
    font-size: 22px;
    line-height: 50px;
}

.about .btn-warning{
    height: 87px;
    width: 210px;
    font-size: 25px;
    font-family: 'Frijole', cursive;
}

.arrow img {
   
    position: fixed;
    bottom: 0;
    right: 0;
    
}

.menu {
    margin-top: 4%;
    border-bottom: 1px dotted gray;
    
}

.btn {
    margin-bottom: 3%;
}

.finest {
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
    color: #000;
}




@media screen and (max-width: 765px){
    .navbar-toggle {
    display: inline !important;
        }
        
        .navbar-brand {
            padding-right: 30px;
        }
        
        ul{
           padding-left: 15% !important;
        }
        
        .slogan {
             font-size: 55px;
        }
        
       
}

@media screen and (max-width: 365px){
    .slogan {
        font-size: 50px;
    }
}

